{{! Esto es lo que el index.hbs dentro de la carpeta LAYOUT va a renderizar }}
<br />
<h1 class='title'>Lista de productos</h1>
<div class='container'>
	<div class='row row-products'>
		<div class='col-md-12'>
			<br />
			<div id="catalogue" class='table-responsive'>
				<table class='table table-striped table-bordered table-secondary'>
					<thead class='thead-dark'>
						<tr>
							<th scope='col'>Name</th>
							<th scope='col'>Price</th>
							<th scope='col'>Image</th>
							<th scope='col'>Action</th>
						</tr>
					</thead>
					<tbody id="prod-table">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>