<br />
<div class='user-error'>
	<h1 class='uExist-msg'>Invalid fields!</h1>
	<h4>The password must have a minimum of 8 digits and a maximum of 40!</h4>
	<h4>Accepted emails are @example.com and @example.net</h4>
	<div class='uExist'>
		<a href='/api/auth/login'>
			<button type='button' class='btn btn-dark btn-uExist'>Go to login again!</button>
		</a>
		<a href='/api/auth/signup'>
			<button type='button' class='btn btn-dark btn-uExist'>Go to sing up again!</button>
		</a>
	</div>
</div>