<br />
<div class='user-error'>
	<h1 class='uExist-msg'>Invalid credentials!</h1>
	<div class='uExist'>
		<a href='/api/auth/login'>
			<button type='button' class='btn btn-dark btn-uExist'>Go back!</button>
		</a>
	</div>
</div>