<br />
<div class='user-error'>
	<h1 class='uExist-msg'>User already exist!</h1>
	<div class='uExist'>
		<a href='/api/auth/signup'>
			<button type='button' class='btn btn-dark btn-uExist'>Go back!</button>
		</a>
	</div>
</div>