<br />
<div>
	<div class='btn-logout-container'>
		<button type='button' onclick='logout_function()' class='logoutbtn'>LogOut</button>
	</div>
	<div class="wellcome-container">
		<h1 class='welcome-msg'>Welcome!</h1>
		<H3 class='welcome-msg'>{{uEmail}}</H3>
	</div>
</div>